@font-face {
  font-family: "iconfont"; /* Project id 2172487 */
  src: url('iconfont.woff2?t=1625372381088') format('woff2'),
       url('iconfont.woff?t=1625372381088') format('woff'),
       url('iconfont.ttf?t=1625372381088') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconquanping:before {
  content: "\e602";
}

.iconxuanze:before {
  content: "\e60a";
}

.iconyouxi:before {
  content: "\e600";
}

.iconvs:before {
  content: "\e655";
}

.iconshitou:before {
  content: "\e625";
}

.iconjiandao:before {
  content: "\e626";
}

.iconbu:before {
  content: "\e627";
}

.iconshanchu:before {
  content: "\e6b2";
}

.iconkaifa:before {
  content: "\e691";
}

.icongengduogongneng:before {
  content: "\e60d";
}

